<html>
<head>
 <title>Vue.js lab - lab 7: Bucles con la directiva v-for</title>
<script src="lib/js/vue.js"></script>
</head>
<body>
<h1>Vue.js lab - lab 7: Bucles con la directiva v-for</h1>

<div id="app">
  <ul>
    <li v-for="t in tareas">
      {{ t.texto }} - {{ t.prioridad }}
    </li>
  </ul>

  <p>
    Tarea:
    <input type="text" name="t" v-model="nuevo_texto">
    Prioridad:
    <input type="text" name="p" v-model="nueva_prioridad">
  </p>
  <button v-on:click="addTarea">+</button>
</div>

<script>
var data = {
    nuevo_texto: '',
    nueva_prioridad: '',
    tareas: [
      {texto: 'Aprender Vue.js', prioridad: 7},
      {texto: 'Dominar el mundo', prioridad: 9}
    ]
  };

var vm = new Vue({
    el:'#app',
    data: data,
    methods: {
      addTarea: function() {
        this.tareas.push({
            texto: this.nuevo_texto,
            prioridad: this.nueva_prioridad,
            });
        this.nuevo_texto = '';
        this.nueva_prioridad = '';
        }
      }
    });
</script>

</body>
</html>
